/* overlay div */
body{
    background:yellow;
}
.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,32,0.5);
    position:fixed;
    top:0;
    left:0;
    transform:scale(0);
    transition:0.2;
    
}
/*content*/
.content{
    text-align:center;
    position:relative;
    top:25%;
    margin-top:4%;
}
/*a*/
.overlay a{
    text-decoration:none;
    color:#fff;
    display:block;
    font-size:30px;
    margin-bottom:2%;
}
/* close button */
.overlay .close{
    position:absolute;
    right:30px;
    top:30px;
    font-size:60px;
}