body{
    background-color:#340;
}
img{
    width:800px;
    height:400px;
    display:block;
    margin:50px auto;
    padding:5px;
}
.pp{
    width:60%;
    background-color:#000;
    color:#fff;
    margin:auto;
    padding:10px;
    font-size:30px;
    text-align:center;
    font-weight: bold;
}
